*{
    cursor:url(/img/cursor.svg), auto;
}

@font-face {
    font-family: 'PPNeue';
    src: url('fonts/PPNeueMontreal-Medium.otf') format('opentype'),
         url('fonts/PPNeueMontreal-Book.otf') format('opentype'),
         url('fonts/PPNeueMontreal-Italic.otf') format('opentype'),
         url('fonts/PPNeueMontreal-Medium.otf') format('opentype'),
         url('fonts/PPNeueMontreal-SemiBolditalic.otf') format('opentype'),
         url('fonts/PPNeueMontreal-Thin.otf') format('opentype');
}
  
@font-face {
    font-family: 'VictorSerif';
    src: url('fonts/victorserif-30light.woff2') format('woff2');
}
:root{
    --dark: #31302E;
    --accent: #E601D6;
    --white: #FCFAF5;
}
::-webkit-scrollbar {
    display:none;
}

* {
    margin: 0;
    background-color: var(--white);
}

html {
    scroll-behavior: smooth;
  }

/*Header siempre fija superior, con el botón de dark mode*/

header {
    padding-top: 10px;
    width: 100%;
    height: 8%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

header a{
    font-family: 'VictorSerif';
    color:var(--dark);
    text-decoration: none;
    font-size: 30px;
    margin-left: 5px;
}

header a:hover{
    font-style: italic;
}

header h6{
    font-family: 'PPNeue';
    font-weight: 100;
    color:var(--dark);
}

header button{
    background-color: var(--dark);
    width: 2%;
    height: 50%;
    margin-right: 20px;
    border:none;
}

header button:hover{
    width: 2%;
    height: 40%;
    border: none;
}

/*Menu de navegación siempre fijo en todas las páginas*/
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 90vh;
    width: 80vh;
    height: 7%;
    background-color: var(--white);
    z-index: 1001; /* Un z-index mayor que el del header */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark);
    border-radius: 10px;
}

.menuHamburguesa{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 90vh;
    width: 80vh;
    height: 7%;
    background-color: var(--white);
    z-index: 1001; /* Un z-index mayor que el del header */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark);
    border-radius: 10px;
}

/*Opciones de navegación del menú*/

nav{
    background-color: var(--dark);
}

/* Estilo de los enlaces del menú */
nav a {
    margin: 0px 15px 0px 15px;
    text-decoration: none;
    color: var(--accent);
    font-family: 'VictorSerif';
    font-size: 16px;
    font-family: 'PPNeue';
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--white);
}

nav a:hover {
    text-decoration: line-through;
    font-family: 'PPNeue';

}

/*Esta clase se activa al pulsar el botón de dark mode y cambia los valores de los colores del root*/

.dark-mode {
    --dark:white;
    --accent:white;
    --white:black;
}


/*MEDIA QUERYS*/

@media screen and (min-width: 768px) and (max-width: 1199px) {
    header {
        height: 6%;

    }

    .menu {
        width: 60vh;
    }

    .menuHamburguesa {
        display: none;
    }

}

@media screen and (max-width: 767px) {
    header {
        height: 5%;
    }
    .menu {
        width: 55vh;
    }
    .menuHamburguesa {
        display: none;
    }
}

@media screen and (max-width: 479px) {
    header {
        height: 5%;
        width: 100vw;
    } 
    .menu {
        display: none;
    }
    .menuHamburguesa {
        display: block;
        width: 50vw;
      }
    
      .iconoHamburguesa {
        cursor: pointer;
      }
    
      .menuHamburguesa ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    
      .menuHamburguesa ul li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
      }
    
      /* Agrega estilos para mostrar y ocultar el menú hamburguesa según sea necesario */
      .menuHamburguesa.mostrar {
        display: block;
      }
}