* {
    margin: 0;
    background-color: var(--white);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 90vh;
    width: 80vh;
    height: 7%;
    background-color: var(--white);
    z-index: 1001; /* Un z-index mayor que el del header */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark);
    border-radius: 10px;
}

nav{
    background-color: var(--dark);
}

/* Estilo de los enlaces del menú */
nav a {
    margin: 0px 15px 0px 15px;
    text-decoration: none;
    color: var(--accent);
    font-family: 'VictorSerif';
    font-size: 16px;
    font-family: 'PPNeue';
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--white);
}

nav a:hover {
    font-style: italic;
    font-family: 'PPNeue';

}

header {
    padding-top: 10px;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

header button{
    background-color: var(--dark);
    width: 2.5%;
    height: 50%;
    margin-right: 20px;
    border:none;
}

header button:hover{
    width: 2%;
    height: 40%;
    border: none;
}

.titulo{
    z-index: 2;
}

.div1 {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.imagenFondo {
    width: 10%;
    position: absolute;
    bottom: 200px;
    right: 50px;
    z-index: 1;
}

.imagenFondo2 {
    width: 10%;
    position: absolute;
    top: 200px;
    right: 500px;
    z-index: 1;
}
.imagenFondo3 {
    width: 20%;
    position: absolute;
    top: 500px;
    right: 700px;
    z-index: 1;
}

.div2 {
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    background-color: rgba(242, 242, 242, 0);
}

h1 {
    font-family: 'VictorSerif';
    font-size: 90px;
    color: var(--accent);
    background-color: rgba(242, 242, 242, 0);
}

.sub {
    font-family: 'VictorSerif';
    font-size: 90px;
    display: flex;
}

.prueba {
    width: 100%;
    width: 100vh;
}

.dark-mode {
    --dark:#3a393b;
    --accent:white;
    --white:black;
  }