.main{
    padding-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

.main h1{
    color: var(--accent);
    font-family: 'VictorSerif';
    font-weight: 100;
    font-size: 70px;
}

.main--enlaces a{
    text-decoration: none;
    color:var(--dark);
    margin-right: 40px;
    font-family: 'VictorSerif';
    font-weight: 100;
}

.main--enlaces a:hover{
    text-decoration: line-through;
}

/*FOTOGRAFRIA*/ 

.main--fotografia{
    width: 85vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
}

.main--fotografia--contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5% 0px;
    border-top: 1px solid var(--accent);
}

.main--fotografia--izquierda{
    width: 50%;
    /*height: 10%;*/
    padding-left: 50px;
    display: flex;
    margin-right: 20px;
    /*align-items: center;*/
}

.main--fotografia--izquierda img{
    margin: 0px 0px 20px 20px;
    width: 25%;
}

.main--fotografia--izquierda h2{
    font-family: 'VictorSerif';
    font-weight: 100;
    font-size: 100px;
    color: var(--accent)
}

.main--fotografia--derecha{
    width: 50%;
    height: 100%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}
.main--fotografia--derecha h2{
    font-family: 'VictorSerif';
    color: var(--dark);
    font-weight: 100;
    margin-bottom: 10px;
}
.main--fotografia--derecha h4{
    font-family: 'PPNeue';
    color: var(--dark);
    font-weight: 100;
    margin-bottom: 20px;
}

.main--fotografia--derecha h5{
    font-family: 'VictorSerif';
    color: var(--accent);
    font-weight: 200;
}
.main--fotografia--derecha p{
    font-family: 'PPNeue';
    color: var(--dark);
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 10px;
}

/* Sección de diseño */

.main--diseño{
    width: 85vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin:40px 0px;
}

.main--diseño--contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 5% 0px;
    /*margin-bottom: 100px;*/
    border-top: 1px solid var(--accent);
}

.main--diseño--izquierda{
    width: 50%;
    height: 100%;
    padding-left: 50px;
    display: flex; 
    margin-right: 20px;
    align-items: center;
    position: relative;
    z-index: 2;
}

.main--diseño--izquierda--imagen-centro{
    position: absolute;
    margin-top: 20px;
    left:250px;
    width: 30%;
}

.main--diseño--izquierda--imagen{
    height: 80%;
    right: 150px;
    top:-10px;
    position: absolute;
    z-index: 1;
}

.main--diseño--izquierda--imagen-variante{
    height: 80%;
    top:90px;
    left: 200px;
    position: absolute;
    z-index: 1;
}

.main--diseño--izquierda h2{
    font-family: 'VictorSerif';
    font-weight: 100;
    font-size: 100px;
    color: var(--accent)
}

.main--diseño--derecha{
    width: 50%;
    height: 100%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main--diseño--derecha h2{
    font-family: 'VictorSerif';
    color: var(--dark);
    font-weight: 100;
    margin-bottom: 10px;
}
.main--diseño--derecha h4{
    font-family: 'PPNeue';
    color: var(--dark);
    font-weight: 100;
    margin-bottom: 20px;
}

.main--diseño--derecha h5{
    font-family: 'VictorSerif';
    color: var(--accent);
    font-weight: 200;
}
.main--diseño--derecha p{
    font-family: 'PPNeue';
    color: var(--dark);
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 10px;
}

/*VIDEO*/

/*FOTOGRAFRIA*/ 

.main--video{
    width: 85vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    margin-top:40px;
}

.main--video--contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 5% 0px;
    border-top: 1px solid var(--accent);
}

.main--video--izquierda{
    width: 50%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.main--video--izquierda img{
    margin-left: 20px;
    height: 50%;
}

.main--video--izquierda h2{
    font-family: 'VictorSerif';
    font-weight: 100;
    font-size: 100px;
    color: var(--accent)
}

.main--video--derecha{
    width: 50%;
    height: 100%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main--video--derecha h2{
    font-family: 'VictorSerif';
    color: var(--dark);
    font-weight: 100;
    margin-bottom: 10px;
}
.main--video--derecha h4{
    font-family: 'PPNeue';
    color: var(--dark);
    font-weight: 100;
    margin-bottom: 20px;
}

.main--video--derecha h5{
    font-family: 'VictorSerif';
    color: var(--accent);
    font-weight: 200;
}
.main--video--derecha p{
    font-family: 'PPNeue';
    color: var(--dark);
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 10px;
}

.main--video--izquierda video{
    width: 90%;
}